
.BurgerCard{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(180, 180, 180);
    width: 100%;
    height:100%;
    margin:10px 0;
    padding: 20px 30px;
    
}
.Burger{
    width: 100%;
    margin: auto;
    min-height: 275px;
    text-align:center;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}

@media (min-width: 1008px){
    .BurgerCard{
        margin: 10px
    }
}

