.Content{
    position: absolute;
    padding-top: 80px;
    height: 100%;
}

/* .ContentPaddedContainer{
    margin: auto;
    width: 50vw;
}

@media (max-width: 413px){
    .ContentPaddedContainer{
        width: 95%;
    }
}
@media (min-width: 414px){
    .ContentPaddedContainer{
        width: 90%;
    }
}
@media (min-width: 700px){
    .ContentPaddedContainer{
        width: 70%;
    }
}
@media (min-width: 1024px){
    .ContentPaddedContainer{
        width: 40%;
    }
} */