.BreadTop {
    height: 44px;
    width: 80%;
    background: linear-gradient(#bc581e, #e27b36);
    border-radius: 50% 50% 0 0;
    box-shadow: inset -15px 0 #c15711;
    margin: 3px auto;
    position: relative;
}

.BreadBottom {
    height: 26px;
    width: 80%;
    background: linear-gradient(#F08E4A, #e27b36);
    border-radius: 0 0 30px 30px;
    box-shadow: inset -15px 0 #c15711;
    margin: 3px auto;
}

.Seeds1 {
    width: 2vh;
    height: 15%;
    position: absolute;
    background-color: white;
    left: 30%;
    top: 50%;
    border-radius: 40%;
    transform: rotate(-20deg);
    box-shadow: inset -2px -3px #c9c9c9;
}

.Seeds1:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: -170%;
    top: -260%;
    border-radius: 40%;
    transform: rotate(60deg);
    box-shadow: inset -1px 2px #c9c9c9;
}

.Seeds1:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: 180%;
    top: -50%;
    border-radius: 40%;
    transform: rotate(60deg);
    box-shadow: inset -1px -3px #c9c9c9;
}

.Seeds2 {
    width: 10%;
    height: 15%;
    position: absolute;
    background-color: white;
    left: 64%;
    top: 50%;
    border-radius: 40%;
    transform: rotate(10deg);
    box-shadow: inset -3px 0 #c9c9c9;
}

.Seeds2:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: 150%;
    top: -130%;
    border-radius: 40%;
    transform: rotate(90deg);
    box-shadow: inset 1px 3px #c9c9c9;
}

.Meat {
    width: 80%;
    height: 14px;
    background: linear-gradient(#7f3608, #702e05);
    margin: 3px auto;
    border-radius: 15px;
}

.Cheese {
    width: 90%;
    height: 9px;
    margin: 3px auto;
    background: linear-gradient(#f4d004, #d6bb22);
    border-radius: 20px;
}

.Salad {
    width: 85%;
    height: 9px;
    margin: 3px auto;
    background: linear-gradient(#228c1d, #91ce50);
    border-radius: 20px;
}

.Bacon {
    width: 80%;
    height: 9px;
    background: linear-gradient(#bf3813, #c45e38);
    margin: 3px auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .BreadTop {
        height: 53px;
    }

    .BreadBottom {
        height: 35px;
    }

    .Meat {
        height: 15px;
    }

    .Salad {
        height: 9px;
    }

    .Bacon {
        height: 9px;
    }

    .Cheese {
        height: 9px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
     .BreadTop {
        height: calc(53px * 1.4);
    }

    .BreadBottom {
        height: calc(35px * 1.4);
    }

    .Meat {
        height: calc(15px * 1.4);
    }

    .Salad {
        height: calc(9px * 1.4);
    }

    .Bacon {
        height: calc(9px * 1.4);
    }

    .Cheese {
        height: calc(9px * 1.4);
    }
}