.AuthFormCard {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(180, 180, 180);
    width: 100%;
    padding: 20px 30px;
    margin: 10px auto;
    max-width: 500px;
}

.AuthFormCard h4{
    text-align: center;
}

.OtherErrors{
    border-radius: 3px;
    padding: 2px;
    text-align: center;
    width: 100%;
    color: rgb(200, 49, 49);
}